#####################################################################
# Probe
#####################################################################

#[homing_override]
#axes: xyz
#set_position_x: 5
#set_position_y: 5
#set_position_z: 5
#gcode:
#  G91                 # 采用相对坐标系
#  G0 Z+10 F600        # 以600毫米/每分钟的速度将Z轴上移10毫米
#  G1 X-5 Y-5 F1500    # 回撤5mm防止已经在最大坐标点
#  _CG28

[safe_z_home]
home_xy_position: 175,175         # TAP在热床中点进行Z归零
#home_xy_position: 234,352         # Z限位XY坐标点
speed: 200.0                      # XY轴移动到Z限位XY坐标点时的运动速度
z_hop: 5.0                        # Z轴归零操作前抬升高度
z_hop_speed: 4.0                  # Z轴归零移动速度

## 调平传感器
[probe]
pin: ^vast:PB3                         # 调平传感器引脚
x_offset: 0                            # 传感器触发时，相对喷嘴的偏移数值
y_offset: 0                            # 使用TAP时为0
#y_offset: 20                          # 使用PL08N，这里的值应该和区域网床里面的缓冲值一样，否则会超出坐标系
# G28,QGL,G28 Z后，使用PROBE_CALIBRATE命令，等出现反馈框，在喷嘴下方放一张A4纸，按上面的数字按钮下移喷嘴，
# 直到拖动A4纸时有阻力，点确定按钮。根据命令框那边的提示，将z_offset数值填入。
#z_offset: -0.40                        # 值越大喷嘴越靠近热床
speed: 4.0                             # 校准时Z轴移动速度(mm/s)
samples: 3                             # 采样次数
samples_result: median                 # 多次采样使用的结果，median 中位数，average 平均值
sample_retract_dist: 2.0               # 多次采样时，每次探测完成后打印头抬升的高度(mm)
samples_tolerance: 0.01                # 使用TAP，多次采样结果对比的最大公差，如果超过此设置就重新进行采样
samples_tolerance_retries: 3           # 超公差重试次数
activate_gcode:
    {% set PROBE_TEMP = 150 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info("挤出机温度 %.1fC 过高，等待其降低至 %.1fC" % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info("挤出机温度 %.1fC 过高，等待其降低至 %.1fC" % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}

## 龙门架调平
[quad_gantry_level]
##  使用命令 QUAD_GANTRY_LEVEL 进行调平

##  将喷嘴移动到(0,0)位置，测量Z皮带到喷嘴的相对位置
##  将喷嘴移动到XY限位位置，知道喷嘴位置后，测量Z2皮带到
##  喷嘴的XY相对位置，算出Z2皮带到(0,0)的相对位置
#--------------------------------------------------------------------
##  以下配置针对250mm机型
# Z和Z2固定点相对原点位置，这里需要测量后修改
#gantry_corners:
#        -60,-10
#        310, 320
# 调平采集点坐标，这里可以不修改
#points:
#        50,25
#        50,175
#        200,175
#        200,25

##  以下配置针对300mm机型
# Z和Z2固定点相对原点位置，这里需要测量后修改
#gantry_corners:
#        -60,-10
#        360,370
# 调平采集点坐标，这里可以不修改
#points:
#        50,25
#        50,225
#        250,225
#        250,25

##  以下配置针对350mm机型
# Z和Z2固定点相对原点位置，这里需要测量后修改
gantry_corners:
        -60,-10
        410,420
# 调平采集点坐标，这里可以不修改
points:
        50,50     #50,25
        50,300    #50,275
        300,300   #300,275
        300,50    #300,25
#--------------------------------------------------------------------

speed: 200.0                      # 标定过程中非探测移动的速度（以毫米/秒为单位）。默认值为50
horizontal_move_z: 5.0           # 在开始探测操作之前，命令打印头移动到的高度（以毫米为单位）。默认值为5
retries: 5                        # 探测的结果超过retry_tolerance的值，重复采样的次数
retry_tolerance: 0.01             # 使用TAP，如果采样结果的最大值和最小值的差超过此设置，则重试采样
#retry_tolerance: 0.015           # 使用PL08N，如果采样结果的最大值和最小值的差超过此设置，则重试采样
max_adjust: 5.0                  # 采样时Z的最大行程，如果超过这个值还未触发传感器，则停止调平

## 床探测
[bed_mesh]
speed: 200.0                      # 标定过程中非探测移动的速度（以毫米/秒为单位）。默认值为50
horizontal_move_z: 5.0           # 在开始探测操作之前，命令打印头移动到的高度（以毫米为单位）。默认值为5
mesh_min: 20,20                   # 为矩形床定义网格的最小X、Y坐标。此坐标是相对于探测位置的。这将是离原点最近的第一个被探测的点
mesh_max: 330,330                 # 为矩形床定义网格的最大X、Y坐标。遵循与mesh_min相同的原则，但这将是离床原点最远的被探测的点
probe_count: 5,5                  # 对于矩形床，这是一对以逗号分隔的整数值X、Y，定义沿每个轴探测的点的数量。也可以使用单个值，此时该值将应用于两个轴。默认值为3, 3
#mesh_pps: 2,2                     # 一个以逗号分隔的整数对X、Y，定义沿每个轴在网格中插值的每段的点数。一个“段”可以被定义为每个被探测点之间的空间。用户可以输入一个单独的值，该值将应用于两个轴。默认值为2, 2
#algorithm: bicubic                # 要使用的插值算法。可以是"lagrange"或"bicubic"。此选项不会影响3x3网格，强制使用拉格朗日采样。默认值为lagrange
#zero_reference_position: 175,175  # 指定Z=0位置的床上位置的可选X、Y坐标。当指定此选项时，网格将被偏移，使得在此位置不会发生Z调整。默认情况下没有零参考
#adaptive_margin: 10               # 生成自适应网格时，在定义的打印对象周围添加的可选边距（以毫米为单位）
#faulty_region_1_min:
#faulty_region_1_max:              # 定义故障区域的可选点。有关故障区域的详细信息，请参阅docs/Bed_Mesh.md。最多可以添加99个故障区域。默认情况下没有设置故障区域
