#####################################################################
# 耗材检测与更换
#####################################################################

## BIQU Smart Filament Sensor
[filament_motion_sensor smart_filament_sensor]
detection_length: 10.0                    # 触发传感器需要拉扯的最低耗材长度。默认7mm
extruder: extruder                        # 对应挤出机名称
switch_pin: PG12                          # 传感器PIN脚
#pause_on_runout: True                    # 设置为True时，当检测到耗材抽离会立即触发暂停打印，如果设置为False，且runout_gcode未配置，则关闭耗材抽离检测功能。默认True
#runout_gcode:                            # 耗材抽离调用的宏
#insert_gcode: ON_FILAMENT_INSERTED       # 耗材插入调用的宏
event_delay: 3.0                          # 事件最小间隔时间，在此期间内的事件会被忽略。默认3s
pause_delay: 0.5                          # 执行暂停打印和runout_gcode宏的间隔时间。默认0.5s

## 耗材插入执行的宏
[gcode_macro ON_FILAMENT_INSERTED]
gcode: 
    SET_LED LED=btt_mini12864 RED=1 GREEN=0 BLUE=0 INDEX=1
    SET_LED LED=btt_mini12864 RED=1 GREEN=0 BLUE=0 INDEX=2

## Kliper启动1秒后关闭耗材传感器
[delayed_gcode DISABLEFILAMENTSENSOR] 
initial_duration: 1
gcode:
    SET_FILAMENT_SENSOR SENSOR=smart_filament_sensor ENABLE=0

## 开启耗材传感器
[gcode_macro SFS_ENABLE]
description: Enable smart filament sensor
gcode:
    { action_respond_info("ENABLING the Smart Filament Sensor") }
    G92 E0
    SET_FILAMENT_SENSOR SENSOR=smart_filament_sensor ENABLE=1

## 关闭耗材传感器
[gcode_macro SFS_DISABLE]
description: Disable smart filament sensor 
gcode:
    { action_respond_info("DISABLING the Smart Filament Sensor") }
    G92 E0
    SET_FILAMENT_SENSOR SENSOR=smart_filament_sensor ENABLE=0

## 更换耗材
[gcode_macro CHANGE_FILAMENT]
gcode:
    SAVE_GCODE_STATE NAME=CHANGE_FILAMENT_state
    PAUSE                    # 暂停打印
    UNLOAD_FILAMENT          # 从挤出机撤回耗材
    RESTORE_GCODE_STATE NAME=CHANGE_FILAMENT_state

## 从挤出机撤回耗材
[gcode_macro UNLOAD_FILAMENT]
gcode:
    {% if params.TEMP is defined %}
        {% set TEMP = params.TEMP %}
    {% elif 'save_variables' in printer and extruder_temp in printer.save_variables.variables %}
        {% set TEMP = printer.save_variables.variables.extruder_temp %}
    {% else %}
        {% set TEMP = 230 %}
    {% endif %}
    {% set DISTANCE = params.DISTANCE|default(110)|float %}     # 设置耗材抽取长度
    M400                              # 等待操作全部完成
    SAVE_GCODE_STATE NAME=UNLOAD_FILAMENT_state
    _LOW_TEMP_CHECK T={TEMP}          # 检测热端温度
    M82                               # 使用绝对距离
    # 耗材尖端成型
    G92 E0                            # 重置挤出机
    G1 E2 F3600                       # 挤出2mm，60mm/s速度
    G1 E0 F3600                       # 挤出0mm
    G1 E3 F3600                       # 挤出3mm
    G1 E0 F3600                       # 挤出0mm
    G1 E4 F3600                       # 挤出4mm
    G1 E0 F3600                       # 挤出0mm
    M83                               # 使用相对距离
    G1 E-20 F3600                     # 回抽20mm
    G4 P3000                          # 暂停3s冷却
    G1 E{DISTANCE|float * -1} F3000   # 将耗材一次性抽出
    RESTORE_GCODE_STATE NAME=UNLOAD_FILAMENT_state

## 装载耗材到挤出机
[gcode_macro LOAD_FILAMENT]
gcode:
    {% if params.TEMP is defined %}
        {% set TEMP = params.TEMP %}
    {% elif 'save_variables' in printer and extruder_temp in printer.save_variables.variables %}
        {% set TEMP = printer.save_variables.variables.extruder_temp %}
    {% else %}
        {% set TEMP = 230 %}
    {% endif %}
    {% set DISTANCE = params.DISTANCE|default(110)|float %}      # 设置耗材抽取长度
    M400                                                         # 等待操作全部完成
    SAVE_GCODE_STATE NAME=LOAD_FILAMENT_state
    _LOW_TEMP_CHECK T={TEMP}                                     # 检测热端温度
    M83                                                          # 使用相对距离
    G92 E0                                                       # 重置挤出机
    G1 E{DISTANCE|float} F200                                    # 加载耗材
    {% if 'xyz' in printer.toolhead.homed_axes %}                # 判断XYZ是否已归零
        _PURGE T={TEMP} DISTANCE=50                              # 挤出耗材
    {% else %}
        G1 E50 F150                                              # 原地挤出耗材
    {% endif %}
    G92 E0                                                       # 重置挤出机
    RESTORE_GCODE_STATE NAME=LOAD_FILAMENT_state

## 挤出一定量的耗材
[gcode_macro _PURGE]
gcode:
    SAVE_GCODE_STATE NAME=purge_state
    #G91                                                         # 切换到相对于当前位置的坐标系
    #G0 X175 Y175 F3000
    #G0 Z100 F300
    G92 E0                                                       # 重置挤出机
    #G91
    G1 E{params.DISTANCE} F400                                   # 挤出耗材
    #G90                                                         # 切换到相对于原点的坐标系
    G92 E0                                                       # 重置挤出机
    M400                                                         # 等待操作全部完成
    M117 Filament purged!
    RESTORE_GCODE_STATE NAME=purge_state

## 挤出机温度检测
[gcode_macro _LOW_TEMP_CHECK]
description: Check the nozzle is at temperature and heat it if needed
gcode: 
    {% set T = params.T|float %}

    {% if printer.extruder.target != 0 %}
        {% if printer.extruder.temperature|float < printer.extruder.target|float %}
            M109 S{printer.extruder.target|float} 
        {% endif %}
    {% else %}
        {% if printer.extruder.target < T %}
            M109 S{T}
        {% endif %}
    {% endif %}

# StandAlone cooling moves to extract proper filament tip
[gcode_macro _ERCF_FORM_TIP_STANDALONE]
description: Generic tip forming macro
gcode:
    {% set COOLING_TUBE_LENGTH = params.COOLING_TUBE_LENGTH|default(15) %} # Dragon ST: 15, Dragon HF: 10, Mosquito: 20
    {% set COOLING_TUBE_RETRACTION = params.COOLING_TUBE_RETRACTION|default(35) %} # Dragon ST: 35, Dragon HF: 30, Mosquito: 38
    {% set INITIAL_COOLING_SPEED = params.INITIAL_COOLING_SPEED|default(10) %}
    {% set FINAL_COOLING_SPEED = params.FINAL_COOLING_SPEED|default(50) %}
    {% set COOLING_MOVES = params.COOLING_MOVES|default(5) %}
    {% set TOOLCHANGE_TEMP = params.TOOLCHANGE_TEMP|default(0) %}
    {% set USE_SKINNYDIP = params.USE_SKINNYDIP|default(0) %}
    {% set USE_FAST_SKINNYDIP = params.USE_FAST_SKINNYDIP|default(1) %}
    {% set SKINNYDIP_DISTANCE = params.SKINNYDIP_DISTANCE|default(26) %}
    {% set DIP_INSERTION_SPEED = params.DIP_INSERTION_SPEED|default(33) %}
    {% set DIP_EXTRACTION_SPEED = params.DIP_EXTRACTION_SPEED|default(70) %}
    {% set MELT_ZONE_PAUSE = params.MELT_ZONE_PAUSE|default(0) %}
    {% set COOLING_ZONE_PAUSE = params.COOLING_ZONE_PAUSE|default(0) %}
    {% set UNLOADING_SPEED_START = params.UNLOADING_SPEED_START|default(199) %}
    {% set UNLOADING_SPEED = params.UNLOADING_SPEED|default(20) %}
    {% set RAMMING_VOLUME = params.RAMMING_VOLUME|default(0) %} # in mm3
    {% set INITIAL_RETRACT = params.INITIAL_RETRACT|default(0) %} # Use an initial retract or not. Don't use it if you want to ram the filament
    {% set FINAL_EJECT = params.FINAL_EJECT|default(0) %} # Fully eject the filament afterwards, default is no

    G91
    G92 E0

    SET_PRESSURE_ADVANCE ADVANCE=0
    {% set OLD_TEMP = printer.extruder.target %}

    # Ramming with SuperSlicer standard setting
    {% if INITIAL_RETRACT|int == 1 %}
        G1 E-8.5000 F3000
    {% endif %}

    {% set RATIO = (RAMMING_VOLUME|float) /23.0 %}

    G1 E{0.5784 * RATIO|float} F299 #7
    G1 E{0.5834 * RATIO|float} F302 #3
    G1 E{0.5918 * RATIO|float} F306 #6
    G1 E{0.6169 * RATIO|float} F319 #6
    G1 E{0.3393 * RATIO|float} F350 #0
    G1 E{0.3363 * RATIO|float} F350 #0
    G1 E{0.7577 * RATIO|float} F392 #6
    G1 E{0.8382 * RATIO|float} F434 #3
    G1 E{0.7776 * RATIO|float} F469 #9
    G1 E{0.1293 * RATIO|float} F469 #9
    G1 E{0.9673 * RATIO|float} F501 #2
    G1 E{1.0176 * RATIO|float} F527 #2
    G1 E{0.5956 * RATIO|float} F544 #6
    G1 E{0.4555 * RATIO|float} F544 #6
    G1 E{1.0662 * RATIO|float} F552 #4

    # set toolchange temperature just prior to filament being extracted from melt zone and wait for set point
    # (SKINNYDIP--normal mode only)
    {% if TOOLCHANGE_TEMP|float > 0 and USE_FAST_SKINNYDIP|int == 0 %}
       M109 S{TOOLCHANGE_TEMP}
    {% endif %}

    # Retraction
    {% set TOTAL_RETRACTION_DISTANCE = COOLING_TUBE_RETRACTION|float + COOLING_TUBE_LENGTH|float / 2 - 15 %}
    G1 E-15 F{1.0 * UNLOADING_SPEED_START|float * 60}
    G1 E-{0.7 * TOTAL_RETRACTION_DISTANCE} F{1.0 * UNLOADING_SPEED|float * 60}
    G1 E-{0.2 * TOTAL_RETRACTION_DISTANCE} F{0.5 * UNLOADING_SPEED|float * 60}
    G1 E-{0.1 * TOTAL_RETRACTION_DISTANCE} F{0.3 * UNLOADING_SPEED|float * 60}

    {% if TOOLCHANGE_TEMP|float > 0 and USE_FAST_SKINNYDIP|int == 1 %}
       M104 S{TOOLCHANGE_TEMP}
    {% endif %}

    # Generate Cooling Moves
    {% set SPEED_INC = (FINAL_COOLING_SPEED|float - INITIAL_COOLING_SPEED|float) / (2 * COOLING_MOVES|float - 1) %}
    {% for move in range(COOLING_MOVES|int) %}
      G1 E{COOLING_TUBE_LENGTH} F{(INITIAL_COOLING_SPEED|float + SPEED_INC*move*2) * 60}
      G1 E-{COOLING_TUBE_LENGTH} F{(INITIAL_COOLING_SPEED|float + SPEED_INC*(move*2+1)) * 60}
    {% endfor %}

    # wait for extruder to reach toolchange temperature after cooling moves complete (SKINNYDIP--fast mode only)
    {% if TOOLCHANGE_TEMP|float > 0 and USE_FAST_SKINNYDIP|int == 1 %}
        M109 S{TOOLCHANGE_TEMP}
    {% endif %}

    # Generate a skinnydip move
    {% if USE_SKINNYDIP|int == 1 %}
      G1 E{SKINNYDIP_DISTANCE} F{DIP_INSERTION_SPEED|float * 60}
      G4 P{MELT_ZONE_PAUSE}
      G1 E-{SKINNYDIP_DISTANCE} F{DIP_EXTRACTION_SPEED|float * 60}
      G4 P{COOLING_ZONE_PAUSE}
    {% endif %}

    {% if TOOLCHANGE_TEMP|float > 0 %}
      M104 S{OLD_TEMP}
    {% endif %}

    {% if FINAL_EJECT|int == 1 %}
        G92 E0
        G1 E-80 F3000
    {% endif %}

    G92 E0
