
#####################################################################
##                 VORON 2.4  350mm  打印机配置文件                ##
##                    By Samuel Wang     2023.02.11                ##
#####################################################################

## 主控
##==============================================================================
## 使用命令 ls /dev/serial/by-id/* 发现USB固件主板
## 使用命令 ~/klippy-env/bin/python ~/klipper/scripts/canbus_query.py can0 发现
## CAN固件主板
##==============================================================================

# canbus_uuid=fea6ca620740, Application: Klipper
# canbus_uuid=ea733e4b9026, Application: CanBoot

[mcu]
#serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_29001000095053424E363420-if00
#restart_method: command
canbus_uuid: fea6ca620740


[mcu vast]
#serial: /dev/serial/by-id/usb-Klipper_stm32f072xb_3F0048001651524138383120-if00
#restart_method: command
canbus_uuid: ea733e4b9026


## 打印机结构
[printer]
kinematics: corexy            # 运动学结构，Voron 2.4是corexy
max_velocity: 300             # 最大速度
max_accel: 8000               # 最大加速度
max_accel_to_decel: 4000      # 最大减速度
max_z_velocity: 20            # Z轴最大速度
max_z_accel: 150              # Z轴最大加速度
square_corner_velocity: 5     # 方形拐角速度，小一点可以有效避免平台重带来的惯性

## 参数保存的文件位置
[save_variables]
filename: ~/printer_data/config/.variables.cfg

## 在屏幕上面显示信息
[display_status]
#显示信息： M117 <message>
#设置构建百分比：M73 P<percent>

## 在命令窗口回显消息
[respond]
# 使用方法：M118 <message>
# 或者 RESPOND TYPE=error MSG="<message>"，TYPE不填则使用默认值
default_type: echo            # 默认输出类型
#  可以选择的输出类型
#       echo: "echo: " (默认)
#       command: "// "
#       error: "!! "
#default_prefix: echo:        # 默认输出前缀，修改后替换输出前缀

# 支持手动移动步进电机进行诊断，使用SET_KINEMATIC_POSITION功能所需
[force_move]
# 使用方法：FORCE_MOVE STEPPER=<电机名称> DISTANCE=<移动距离> VELOCITY=<速度> [ACCEL=<加速度>]
enable_force_move: True

# 固件耗材回缩，启用G10、G11支持
[firmware_retraction]
#retract_length: 0
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
#retract_speed: 20
#   The speed of retraction, in mm/s. The default is 20 mm/s.
#unretract_extra_length: 0
#   The length (in mm) of *additional* filament to add when
#   unretracting.
#unretract_speed: 10
#   The speed of unretraction, in mm/s. The default is 10 mm/s.

# 根据仓内温度变化，自动调整Z偏移量
#[z_thermal_adjust]
#temp_coeff:
#   The temperature coefficient of expansion, in mm/degC. For example, a
#   temp_coeff of 0.01 mm/degC will move the Z axis downwards by 0.01 mm for
#   every degree Celsius that the temperature sensor increases. Defaults to
#   0.0 mm/degC, which applies no adjustment.
#smooth_time:
#   Smoothing window applied to the temperature sensor, in seconds. Can reduce
#   motor noise from excessive small corrections in response to sensor noise.
#   The default is 2.0 seconds.
#z_adjust_off_above:
#   Disables adjustments above this Z height [mm]. The last computed correction
#   will remain applied until the toolhead moves below the specified Z height
#   again. The default is 99999999.0 mm (always on).
#max_z_adjustment:
#   Maximum absolute adjustment that can be applied to the Z axis [mm]. The
#   default is 99999999.0 mm (unlimited).
#sensor_type:
#sensor_pin:
#min_temp:
#max_temp:
#   Temperature sensor configuration.
#   See the "extruder" section for the definition of the above
#   parameters.
#gcode_id:
#   See the "heater_generic" section for the definition of this
#   parameter.


## 电机与原点位置说明
# ----------------
# |Z1          Z2|
# |  XB-----YA   |
# |  |       |   |
# |  |       |   |
# |  0--------   |
# |Z           Z3|
# -----front------

## 其他配置加载
[include configs/mainsail.cfg]                    # Mainsail相关配置
[include configs/power.cfg]                       # 电源控制
#[include configs/stepper_xy_5160_sensorless.cfg]  # XY轴5160驱动，驱动位0、1，无限位归零
[include configs/stepper_xy_5160.cfg]             # XY轴5160驱动，驱动位0、1
#[include configs/stepper_xy_2209.cfg]             # XY轴2209驱动，驱动位2、3
[include configs/stepper_z_2209.cfg]              # Z轴2209驱动，驱动位4、5、6、7
[include configs/extruder.cfg]                    # 挤出机
[include configs/heater_bed.cfg]                  # 热床
[include configs/temperature_sensor.cfg]          # 温度传感器
[include configs/fan.cfg]                         # 风扇
#[include configs/klicky/klicky-probe.cfg]         # Klicky Probe与自动Z偏移高度调整
[include configs/probe.cfg]                       # PL-08N Probe
#[include configs/stealthburner_vast.cfg]          # SB打印头定制logo灯控制
[include configs/stealthburner_leds.cfg]          # SB打印头原版logo灯控制
[include configs/macros.cfg]                      # 宏脚本
[include configs/clean_nozzle.cfg]                # 清洁喷嘴
[include configs/mini12864.cfg]                   # mini12864屏幕
[include configs/beeper.cfg]                      # mini12864屏幕上的蜂鸣器
#[include configs/light.cfg]                       # 照明灯光
[include configs/input_shaper.cfg]                # 共振补偿
[include configs/pressure_advance.cfg]            # 压力提前
[include configs/filament.cfg]                    # 耗材检测、更换
[include configs/calibration.cfg]                 # 其他调试脚本
[include timelapse.cfg]                           # 延时摄影
[include print_area_bed_mesh.cfg]                 # 区域床网


######################################################################
####                    以下为系统自动生成的配置                    ####
######################################################################

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 27.766
#*# pid_ki = 1.833
#*# pid_kd = 105.159
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 33.875
#*# pid_ki = 0.945
#*# pid_kd = 303.600
#*#
