# MMS Stepper Module Declaration

# Selector
[manual_stepper selector_stepper]
step_pin: vivid:PD3
dir_pin: vivid:PD2
enable_pin: !vivid:PB4
microsteps: 16
rotation_distance: 360
# 360/2.5=144, so actually rotation_distance is 144
gear_ratio: 2.5:1
velocity: 100
accel: 100

[tmc2209 manual_stepper selector_stepper]
uart_pin: vivid:PB3
run_current: 1.0 #0.8
# stealthchop_threshold -> 0:"spreadCycle" mode 999999:"stealthChop" Mode
stealthchop_threshold: 0

# Gear
[manual_stepper gear_stepper]
step_pin: vivid:PB6
dir_pin: vivid:PB5
enable_pin: !vivid:PB8
microsteps: 16
# rotation_distance: 9.802 # 7.54
rotation_distance: 360
# 360/36.726=9.802, so actually rotation_distance is 9.802
gear_ratio: 36.726:1
velocity: 100
accel: 100

[tmc2209 manual_stepper gear_stepper]
uart_pin: vivid:PB7
run_current: 0.7
# stealthchop_threshold -> 0:"spreadCycle" mode 999999:"stealthChop" Mode
stealthchop_threshold: 0
